*

!count_events.c
!plot_pair_invmass.c
!plot_pair_invmass_split.c
!plot_PID_hist.c
!plot_PID_hist_collapsed.c
!plot_pT_split.c
!plot_pT_data.c

!analysis_triggers_GEN.c
!analysis_triggers_reco.c
!analysis_correlations.c
!analysis_plot.c
!analysis_efficiency.c
!analysis_efficiency_plot.c
!analysis_efficiency_plot_save.c
!analysis_JPsicandidates.c
!analysis_JPsicandidates_plot.c
!analysis_JPsicandidates_plot_data.c
!setALICEStyle.c
!effUtils.c

!inspect_sources.c
!inspect_muon_mothers.c
!inspect_counts.c
!check_matching.c
!check_doubles.c

!generate_download_script.py
!format_download_jobs.py
!format_json_cuts.py
!format_json_indents.py
!generate_download_script_hyperloop.py
!generate_download_script_lxplus.py
!make_input_list.py
!make_input_multiprocess.py

!*.json

!/helper_scripts/
!/inspection/
!/config/

!.gitignore
