*

!count_events.c
!plot_pair_invmass.c
!plot_pair_invmass_split.c
!plot_PID_hist.c
!plot_PID_hist_collapsed.c
!plot_pT_split.c
!inspect_sources.c
!analysis_JPsi_MC.c
!analysis_JPsi_data.c
!setALICEStyle.c
!generate_download_script.py

!format_download_jobs.py
!format_json_cuts.py
!format_json_indents.py
!generate_download_script_hyperloop.py
!generate_download_script_lxplus.py
!make_input_list.py

!/helper_scripts/

!.gitignore
